<!DOCTYPE html>
<html>

<head>
    <!-- <link rel='shortcut icon' type='image/x-icon' href='./img/fav.ico' />

    <object th:replace="../static/includes/header :: headerCss"></object>
    <link rel="stylesheet" href="css/home.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script data-ad-client="ca-pub-4404823056465400" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <title> Home </title>
</head>

<body>
	<p> Esto es una página </p>

</body>


</html>
